{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'cdnfile.html' %}

    <style>
        marquee
        {
            font-size: 40px;
            font-family: cursive;
            text-shadow: 2px 3px red;

        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'bangluru' %}">Go To Bangluru</a>

        </div>
        <div class="col-md-8 text-center">
           <marquee> <img src="{% static 'nam2.gif' %}" style="width: 10%; height: 100%;">Welcome To Chennai<img src="{% static 'nam2.gif' %}" style="width: 10%; height: 100%;"></marquee>
        </div>
        <div class="col-md-2">
            <a href="{% url 'pune' %}">Go To Pune</a>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'chen1.jpg' %}"  style="width: 100%;height: 100%; border: 2px red solid; cursor: pointer">


        </div>
        <div class="col-md-4">
            <img src="{% static 'chen2.jpg' %}"  style="width: 100%;height: 100%; border: 2px red solid; cursor: pointer">


        </div>
        <div class="col-md-4">
            <img src="{% static 'chen3.jpg' %}"  style="width: 100%;height: 100%; border: 2px red solid ; cursor: pointer">


        </div>

    </div>

</div>
{% include 'fakerdata.html' %}
</body>
</html>